:root {
  font-size: 1em;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin: 1em 0 1.4em;
  font: {
    size: 1.8rem;
    weight: 400;
    family: "Montserrat", sans-serif;
  }
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

a {
  text-decoration: none;
  background-color: transparent;
}

i {
  font-style: normal;
}

figure img {
  width: 100%;
  height: auto;
}

.src pre {
  overflow: auto;
  padding: .8em;
  border-radius: 0.3125em;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bbb;
  }
}

.sr-only {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}