.blog {
  // padding-bottom: 1em;
}

.blog-post {
  margin: 3em 0 3.5em;
}

.post-summary {
  margin-top: 2em;
}

a.tag {
  background-color: #ddd;
  color: #333;
  display: inline-block;
  padding: .05em .4em;
  border-radius: 0.2em;
  font-size: 0.9em;
  text-decoration:  none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1em auto;
  padding: 0;
}

.pagination > .page-item {
  border: 1px solid #ddd;
  flex: 1;
  text-align: center;
  width: 5em;
}

.pagination .page-link {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 0.3em 0.8em;
}

.pagination > .page-item.active {
  background-color: #333;
}

.pagination > .page-item.active > .page-link {
  color: #fff;
}

.pagination > .page-item.disabled > .page-link {
  color: #ddd;
}

@media only screen and (min-width: 48em) {
  .pagination {
    width: 30%;
  }
}