:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.nav,
.footer {
  color: #fff;
  padding: .5em 1em;
  background: #333;
}

.nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav > ul > li + li {
  margin-left: 1em;
}

.nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1em auto;
  padding: 0;
}

.pagination > .page-item {
  border: 1px solid #ddd;
  flex: 1;
  text-align: center;
  width: 5em;
}

.pagination .page-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.pagination > .page-item.active {
  background-color: #333;
}

.pagination > .page-item.active > .page-link {
  color: #fff;
}

.pagination > .page-item.disabled > .page-link {
  color: #ddd;
}

@media only screen and (min-width: 488em) {
  .pagination {
    width: 30%;
  }
}