@import "normalize.scss";
@import "general.scss";
@import "404.scss";

@import "header.scss";
@import "navbar.scss";
@import "syntax.scss";

@import "orgmode.scss";
@import "posts.scss";
@import "social.scss";

.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-top: 1.7em;
  line-height: 1.8;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  letter-spacing: .10em;
  padding: 0.57em 1.8em;
  border: 1px solid transparent;
  background: #3b9ba7;
  transition: transform ease-in-out 250ms;
  box-shadow: -4px 3px 8px -3px rgba(0, 0, 0, .5);

  &:hover {
    transform: scale(1.1);
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
}

.container-inner {
  flex-grow: 1;
}

.main {
  padding: 0 1em;
  margin-top: 2.5em;
  margin-bottom: 2.2em;
}

.footer {
  color: #fff;
  padding: 0 1.1em;
  background: #4A8C88;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 48em) {
  .pagination {
    width: 30%;
  }

  .footer {
    flex-direction: row;
  }
}