{{ define "main" }}
<section class="blog">
  <div class="blog-container">
    <h2>{{ .Title }}</h2>
    {{ range .Paginator.Pages }}
    <article class="blog-post">
      <header>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      </header>
      <div class="post-summary">
        {{ .Summary }}
      </div>
      <footer>
        <span class="posted-by">{{ .Params.author }}</span>
        <time>on {{ .Date | dateFormat "January 2, 2006" }}</time>
      </footer>
    </article>
  {{ end }}
  </div>
</section>
{{ template "_internal/pagination.html" . }}
{{ end }}