{{ define "main" }}
<section class="blog">
  <div class="blog-container">
    <h2>{{ .Title }}</h2>
    {{ range .Paginator.Pages }}
    <article class="blog-post">
      <header>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      </header>
      <section class="post-summary">
        <p>{{ .Summary }}</p>
      </section>
      <footer>
        <span>Posted on </span>
        <time>{{ .Date | dateFormat "January 2, 2006" }}</time>
        <span class="posted-by">by {{ .Params.author }}</span>
      </footer>
    </article>
    {{ end }}
  </div>
</section>
{{ template "_internal/pagination.html" . }}
{{ end }}