<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "head.html" . }}
<body>
  <div class="container">
    {{ partial "header.html" . }}
    {{ partial "nav.html" . }}
    <main class="main">
      <div class="main-container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </div>

  {{ $script := resources.Get "js/main.js" | babel | minify | fingerprint -}}
  <script src="{{ $script.Permalink }}"></script>
</body>
</html>