.tags {
  display: grid;
  gap: 5px;
  padding: 0;
  margin: 3em 0 0;
  list-style-type: none;
  grid-template-columns: 1fr;
  /*width: 500px;*/
}

/* Three columns */
@media (min-width: 52em) {
  .tags {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Two columns */
@media (min-width: 30em) and (max-width: 52em) {
  .tags {
    grid-template-columns: repeat(2, 1fr);
  }
}